[FileBackup.Synology]
Type=CIFSOverRsync
IP=10.0.0.252
LocalBase=/mnt/user
RemoteBase=/volume1/NetBackup
RemoteUser=sample
SSHKeyFile=/keys/key-file
CIFSVolume=//Synology/NetBackup
CIFSCredentialsFile=/keys/synology-credentials

[FileShare.AppDataBackup]
Directory=appdatabackup
Backup=Synology

[FileShare.ISOS]
Directory=isos
Backup=Synology

[FileShare.LibVirtBackup]
Directory=libvirtbackup
Backup=Synology

[FileShare.Media]
Directory=media
Backup=Synology

[FileShare.Misc]
Directory=misc
Backup=Synology

[FileShare.Office]
Directory=office
Backup=Synology

[FileShare.Syncthing]
Directory=syncthing
Backup=Synology

[FileShare.System]
Directory=system
Backup=Synology

[FileShare.USBBackup]
Directory=usbbackup
Backup=Synology

[VMBackup]
Base=/mnt/user/backups
Limit=4

[VMDomain.Ubuntu]
ID=ubuntu
Name=Ubuntu

[VMDomain.Windows]
ID=windows
Name=Windows
